*{
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
}
a{
    text-decoration: none;
}
ul{
    list-style: none;;
}
html, body {
    width: 100%;
    overflow-x: hidden;
}
header{
    width: 100%;
    height: 100vh;
    background-image: url(header-bg.png);
    background-size: cover;
    background-position: bottom;
    display: flex;
    justify-content: center;
    align-items: flex-end;

}
.header-content{
    margin-bottom: 100px;
    color: white;
    text-align: center;
    
}
.header-content h2{
    font-size: 4vmin;

}
.line{
    font-size: 5vmin;
   margin-top: 40px;
margin-bottom: 20px;
}
.ctn{
    background-color: #fc036b;
    color: whitesmoke;
    font-size: 20px;
    border-radius: 20px;
    padding: 5px 15px;
}
.ctn:hover{
    color: #a8a2a5;
}
.navbar{
    color: white;
   
    display: flex;
    position: absolute;
    justify-content: space-between;
    margin: 15px 40px;
    top: 0;
    left: 0;
    right: 0;
}
.list{
    display: flex;
    gap: 70px;
 margin-right: 120px;
    margin-top: 10px;
 
}
.menu{
    color: whitesmoke;
    cursor: pointer;
}
.menu:hover{
    color: #e6dfe2;
}

.logo{
    font-size: 40px;
}
@media only screen AND (max-width:850px) {  
    .navbar{
        padding: 0%;
        background-color: #62488b;
        
    }
    .logo{
        position: absolute;
        left: 10px;
        top: 10px;
    }
    .list{
        flex-direction: column;
         
    }
    .menu{
        width: 100%;
        height: 100vh;
        justify-content: center;
        align-items: center;
       
    }

}